[client]
host={{ db_host }}
database={{ bacula_db_name }}
user={{ bacula_db_user }}
password={{ bacula_db_password }}

[mysql]
host={{ db_host }}
database={{ bacula_db_name }}
user={{ bacula_db_user }}
password={{ bacula_db_password }}

[mysqldump]
host={{ db_host }}
database={{ bacula_db_name }}
user={{ bacula_db_user }}
password={{ bacula_db_password }}
